[submodule "tensorflow-build-pip-package"]
	path = tensorflow-build-pip-package
	url = https://github.com/MircoT/tensorflow-build-pip-package
[submodule "datasets"]
	path = datasets
	url = https://github.com/MircoT/DENN-dataset-samples.git
